CREATE DATABASE [sigil]
GO
USE [sigil]
GO
/****** Object:  Table [dbo].[players]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[players_units]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players_units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[players_id] [int] NULL,
	[units_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[units]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [varchar](50) NULL,
	[unit_type] [varchar](50) NULL,
	[weapon_id] [int] NULL,
	[hp] [int] NULL,
	[str] [int] NULL,
	[skl] [int] NULL,
	[spd] [int] NULL,
	[lck] [int] NULL,
	[def] [int] NULL,
	[res] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[weapons]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weapons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wep_name] [varchar](50) NULL,
	[wep_type] [varchar](50) NULL,
	[rng] [int] NULL,
	[dmg] [int] NULL,
	[hit] [int] NULL,
	[crt] [int] NULL,
	[tri_strong] [varchar](50) NULL,
	[tri_weak] [varchar](50) NULL,
	[effect] [varchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[units] ON 

INSERT [dbo].[units] ([id], [unit_name], [unit_type], [weapon_id], [hp], [str], [skl], [spd], [lck], [def], [res]) VALUES (1, N'Florina', N'Falcoknight', 10, 20, 6, 7, 7, 2, 5, 4)
INSERT [dbo].[units] ([id], [unit_name], [unit_type], [weapon_id], [hp], [str], [skl], [spd], [lck], [def], [res]) VALUES (2, N'Hawkeye', N'Berserker', 3, 24, 7, 6, 7, 2, 6, 0)
INSERT [dbo].[units] ([id], [unit_name], [unit_type], [weapon_id], [hp], [str], [skl], [spd], [lck], [def], [res]) VALUES (3, N'Geitz', N'Warrior', 3, 28, 8, 5, 6, 2, 5, 0)
SET IDENTITY_INSERT [dbo].[units] OFF
SET IDENTITY_INSERT [dbo].[weapons] ON 

INSERT [dbo].[weapons] ([id], [wep_name], [wep_type], [rng], [dmg], [hit], [crt], [tri_strong], [tri_weak], [effect]) VALUES (1, N'Steel Sword', N'sword', 1, 8, 70, 0, N'axe', N'lance', NULL)
INSERT [dbo].[weapons] ([id], [wep_name], [wep_type], [rng], [dmg], [hit], [crt], [tri_strong], [tri_weak], [effect]) VALUES (2, N'Steel Lance', N'lance', 1, 10, 70, 0, N'sword', N'axe', NULL)
INSERT [dbo].[weapons] ([id], [wep_name], [wep_type], [rng], [dmg], [hit], [crt], [tri_strong], [tri_weak], [effect]) VALUES (3, N'Steel Axe', N'axe', 1, 11, 65, 0, N'lance', N'sword', NULL)
SET IDENTITY_INSERT [dbo].[weapons] OFF

CREATE DATABASE [sigil_test]
GO
USE [sigil_test]
GO
/****** Object:  Table [dbo].[players]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[players_units]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players_units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[players_id] [int] NULL,
	[units_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[units]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [varchar](50) NULL,
	[unit_type] [varchar](50) NULL,
	[weapon_id] [int] NULL,
	[hp] [int] NULL,
	[str] [int] NULL,
	[skl] [int] NULL,
	[spd] [int] NULL,
	[lck] [int] NULL,
	[def] [int] NULL,
	[res] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[weapons]    Script Date: 3/7/2017 4:39:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weapons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wep_name] [varchar](50) NULL,
	[wep_type] [varchar](50) NULL,
	[rng] [int] NULL,
	[dmg] [int] NULL,
	[hit] [int] NULL,
	[crt] [int] NULL,
	[tri_strong] [varchar](50) NULL,
	[tri_weak] [varchar](50) NULL,
	[effect] [varchar](50) NULL
) ON [PRIMARY]

GO
